.chart-ctn{
    border-radius: 8px;
    background: var(--Secondary-White, #FFF);
    padding: 16px;
    height: 342px;
    border-radius: 12px;
    border: 1px solid var(--Shades-Black-7, #EEEEF8);
    background: var(--Secondary-White, #FFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title{
    color: var(--Shades-Black, #101016);
    padding: 20px 0 4px 0;
    /* H/20/semibold */
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.2px; /* 171% */
}